#section-personajes{
    display: flex;
    flex-direction: row;
    margin-bottom: 3.5rem;
    .retrato-personaje{
        max-width: 22rem;
    }
    .info-personaje{
        margin-left: 4%;
        @include responsive(medium){
            margin-left: 0%;
            margin-top: 2rem;
        }
    }
    @include responsive(medium){
        flex-direction: column;
    }
}

.card-personaje{
    overflow: hidden;
    .imagen{
        z-index: 0;
    }
    .nombre-personaje{
        background-color: black;
        z-index: 1;
    }
    &:hover{
        .imagen{
            transform: scale(1.2);
            transition-duration: .6s ;
        }
        .nombre-personaje{
            background-color: #dc3545;
        }
    }
 }




